@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 4px #03173396;
}

.header-app {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f3f3fd;
}
.header-app img {
  width: 200px;
}

.header-app__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.header-app a {
  text-decoration: none;
  color: black;
}

.header-app a:hover {
  color: #cc5105cd;
  text-shadow: 2px 2px 4px #322390c0;
}

/*----------- MAIN ------------*/
.main-app {
  background-color: rgba(92, 11, 11, 0.767);
  height: 100vh;
  padding: 30px;
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");
}

.main-app ul {
  list-style: none;
  background-color: #f4f3f3fd;
  width: fit-content;
}
